# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

BIN/Platform/win32
Billing/__history
Diary/__history
infotrack/__history
Time/__history
__history
BIN/Platform/win32/Insight.ini
BIN/Platform/win32/Insight.drc
BIN/Platform/win32/RBuilder.ini
*.res
Insight.stat
Insight.identcache
